<div class="my_footer container-fluid d-flex flex-column justify-content-center">
    <div class="icons">
        <i class="fa-brands fa-facebook-square"></i><i class="fa-brands fa-twitter-square"></i><i class="fa-brands fa-google-plus-square"></i><i class="fa-brands fa-instagram-square"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-github"></i>
    </div>
    <div class="footer_text pt-1">
        <p>&copy; Copyright Aumayr Fahham Hofmann Linner</p>
    </div>
</div> 

<!-- <i class="fa-brands fa-github-square"></i> -->