<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/assets/main/main-photo-1.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="restaurant" />
            </div>
            <div class="col-lg-6 col-md-12 mb-md-0 mt-lg-2 mt-sm-3 p-4">
                <p class="fw-bold topic mb-4">Hannes Waldstam</p>
                <p class="mt-4">Welcome to Hannes Waldstamm 's online shop!</p>
                <p>
                    Here you will find his books, limited edition calendars, workshops, signed original prints and photographs, your very personal photo shoot and private coaching with Hannes. "Have fun shopping!" your Hannes
                </p>
            </div>
        </div>
    </div>
</div>