<!-- hero -->
<hero></hero>
<!-- main content 1 -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/assets/main/main-photo-1.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="restaurant" />
            </div>
            <div class="col-lg-6 col-md-12 mb-md-0 mt-lg-2 mt-sm-3 p-4">
                <p class="fw-bold topic mb-4">Hannes Waldstamm</p>
                <p class="mt-4">Welcome to Hannes Waldstamm's online shop!</p>
                <p>
                    Here you will find his books, limited edition calendars, workshops, signed original prints and photographs, your very personal photo shoot and private coaching with Hannes. "Have fun shopping!" your Hannes
                </p>
            </div>
        </div>
    </div>
</div>

<!-- main content 2 -->
<div class="hero_image">
    <div class="slide">
        <img src="/assets/main/main-photo-10.png" class="img-fluid fit-image" alt="Photographer" />
    </div>
</div>

<!-- main content 3 -->
<div>
    <div class="container">
        <div class="row">
            <div  class="col-lg-6 col-md-12 mb-md-0 mt-lg-4 mt-sm-3 p-4">
                <p class="mt-4">
                    Get a signed original print by Hannes Waldstamm at home, in your office, hotel, shop or at the location of your choice. limited, added value and signed by the artist
                </p>
                <p id="main-topics">
                    <a routerLink="/street">Street Photography</a> | <a routerLink="/travel">Travel Photography</a> | <a href="">Models</a> | <a href="">Animals</a> | <a href="">Celebrities</a>
                </p>
            </div>

            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="/assets/main/main-photo-12.jpg" class="img-fluid p-4 mx-auto d-none d-sm-block" alt="restaurant" />
            </div>
        </div>
    </div>
</div>