@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
* {
    background-color: black;
    color: white;
    font-family: "Barlow Condensed", sans-serif;
}


/* main content 1 */

.topic {
    font-size: 3rem;
    color: color;
    /* font-family: "Great Vibes"; */
    font-family: "Great Vibes", cursive;
}

.main_photo {
    width: 10vw;
    height: 8vh;
}


/* main content 2 */

.hero_image {
    position: relative;
}

.fit-image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 200px;
}