@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap");

* {
    background-color: black;
    color: white;
}


    .topic {
        font-size: 2.5rem;
        color: color;
        /* font-family: "Great Vibes"; */
        font-family: "Great Vibes", cursive;
    }
    



